<html>
<head>
    <title>Views for Stats dataset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
<h1>Data Structure</h1>

<h2><p>DIA core 1 : Alix Jacquemin, Chloé Coursimault, Albert de Watrigant, Grégoire Caurier</p>
<p>Select a profile :</p></h2>


<form action="http://127.0.0.1:5000/Admin">
    <input type="submit" value="Admin" />
</form>
<form action="http://127.0.0.1:5000/User">
    <input type="submit" value="User" />
</form>
<form action="http://127.0.0.1:5000/DataAnalyst">
    <input type="submit" value="Data Analyst" />
</form>



</body>
</html>