<html>
<head>
    <title>Views for Stats dataset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
<h1>Data Structure</h1>

<p>Select a function :</p></h2>


<form action="http://127.0.0.1:5000/User/R1">
    <input type="submit" value="R1" />
</form>
<form action="http://127.0.0.1:5000/User/R2">
    <input type="submit" value="R2" />
</form>
<form action="http://127.0.0.1:5000/User/R3">
    <input type="submit" value="R3" />
</form>
<form action="http://127.0.0.1:5000/User/R4">
    <input type="submit" value="R4" />
</form>


{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}



</body>
</html>